.widget {
    background-image:url(images/paper.jpg);
    vertical-align:top;   
    border:solid 3px black;
    border-radius:5px;
}
.widget_text {
    padding-top:6px;
    padding-bottom:8px;
    padding-left:5px;
    padding-right:5px;
    /*height:100%-40px;*/
}
.widget_text_1-1 {   
    margin-bottom:3px;
    height:26px;
    font-size:16px;
    font-weight:bold;
    line-height:28px;
    overflow:hidden;
    text-overflow:ellipsis;  
    white-space:nowrap;  
}
.widget_text_1-2 {   
    /*margin-bottom:3px;*/
    height:88px;
    font-size:16px;
    font-weight:bold;
    line-height:28px;
    overflow:hidden; 
    word-break:break-all;  
}
.widget_text_2-1 {
    margin-top:3px; 
    height:32px;;  
    line-height:28px; 
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap; 
    padding-bottom:7px;       
}
.widget_text_2-2 {
    /*margin-top:3px;*/ 
    height:88px;  
    line-height:28px; 
    overflow:hidden;
    padding-bottom:20px;    
}
.widget_btn {
    padding-top:0px;
    padding-bottom:0px;
    padding-left:18px;
    padding-right:18px;
    height:40px;
    display:table;   
}
.widget_btn_1 {   
    display:table-cell;    
    padding-right:3px;    
    vertical-align:bottom;  
   }
.widget_btn_2 {
    display: table-cell;    
    padding-left:3px;  
    vertical-align:bottom;       
   }